html{
     font-family: sans-serif;
}

html, body {
    position: absolute; 
    width: 100%; 
    height: 100%; 
    margin: 0; 
    padding: 0; 
    top:0; 
    left:0;
}
body{
    background: linear-gradient(30deg,#ff7107,#DB0A5B);
}

ul{
    top: 0;
    margin-top: 0%;
    padding-top: 0%;
    width: 20%;
    float: left;
}

li{
    list-style-type:none;
    text-decoration: none;
}

footer{
    background: #696969;
    bottom: 0;
    position: static;
    width: 100%;
}

h1, h2, h3, h4, h5{
    font-family: squared;
    font: squared;
    color: white;
}


.sprite-facebook{
    float: right;
    padding-right: 5%;
}
.sprite-twitter{
    float: right;
    padding-right: 5%;
}
.sprite-youtube{
    float: right;
    padding-right: 5%;
}
.social{
    margin-top: 1%;
    display: inline-block;
    float: right;

}
.text-link{
    color: white;
    font-family: squared display regular;
    font: squared;
    font-size: 20px;
}
.left{
    padding-top: 3%;
}

.mdl-textfield__input{
    text-emphasis-color: white;
}

.mdl-button mdl-js-button mdl-button--raised mdl-button--colored{
    background: ;
    color: white;
}
#row-fluid{
    width: 25%;
    top: 47%;
    left: 40%;
    right: 35%;
    position: absolute;
}

#button{
    float: right;
    right: 11%;
}

#sample3{

}

#label-sign{
    color: white;
}
#row-fluid-principal{
    display:inline-table;
}

#form-login{

}

#brand-name{
    color: white;
    top: 40%;
    font-size: 350%;
    position: absolute;
    display: inline-block;
    left: 50%;
    margin-left: -90px;
    font-family: roboto;
}
#brand{
    top: 20%;
    width: 100%;
}

.icon{
     position: absolute;
    display: inline-block;
    left: 45%;
    right: 45%;
    top: 15%;
    width: 10%;
}

.button-personal{
    border: white;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

#footer{
    background: ;
    bottom: 0;
    position: absolute;
    width: 100%;
}


@font-face {
      font-family: "squared display regular"; important!
      src: url('/font/Squared Display.ttf') format("truetype");
}
/* iPhone 4 ———– */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

    /* Styles */
    .icon{
        left: 42.5%;
        right: 42.5%;
        width: 15%;
    }

}
/* Smartphones (portrait and landscape) ———– */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    /* Styles */
    .icon{
        left: 42.5%;
        right: 42.5%;
        width: 15%;
    }
}
/* Smartphones (portrait) ———– */
@media only screen and (max-width : 320px) {

    /* Styles */
    .icon{
        left: 42.5%;
        right: 42.5%;
        width: 15%;
    }


}
