html{

}

html, body {
    position: absolute; 
    width: 100%; 
    height: 100%; 
    margin: 0; 
    padding: 0; 
    top:0; 
    left:0;
}
body{
    background: linear-gradient(30deg,#ff7107,#DB0A5B);
    font-size: 48px;

}

ul{
    top: 0;
    margin-top: 0%;
    padding-top: 0%;
    width: 20%;
    float: left;
}

li{
    list-style-type:none;
    text-decoration: none;
}

footer{
    background: #696969;
    bottom: 0;
    position: static;
    width: 100%;
}

h1, h2, h3, h4, h5{
    color: white;
}

.left{
    padding-top: 3%;
}

.mdl-textfield__input{
    text-emphasis-color: white;
}

.mdl-button mdl-js-button mdl-button--raised mdl-button--colored{
    background: ;
    color: white;
}
#row-fluid{
    width: 25%;
    top: 47%;
    left: 40%;
    right: 35%;
    position: absolute;
}

#button{
    float: right;
    right: 11%;
}

#sample3{

}

#label-sign{
    color: white;
}
#row-fluid-principal{
    display:inline-table;
}

#brand-name{
    color: white;
    font-size: 48px;
    position: absolute;
    display: inline-block;
    text-align: center;
    left: 0;
    top: 40%;
    right: 0;
    font-family: Roboto, sans-serif;
    font-size: 2.7em;
    font-weight: 100;
    line-height: 1em;
    letter-spacing: 0.1em;
    color: white;
    margin-top: -0.7em;
    padding: 0.65em 0 0.65em 0.7em;

}

#brand{
    width: 100%;
    display: inline;
}

.icon{
    position: absolute;
    display: inline-block;
    left: 46.5%;
    top: 17%;
    width: 7.5%;
}

.button-personal{
    border: white;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}


#footer{
    background: ;
    bottom: 0;
    position: absolute;
    width: 100%;
}

@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

    /* Styles */
    .icon{
        width: 7%;
    }
    #brand-name{
        font-size: 28px;
        top: 38%;
    }
    #row_fluid{
        left: 5%;
        right: 5%;
    }

}
/* Smartphones (portrait and landscape) ———– */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    /* Styles */
    .icon{
        width: 17%;
        left: 44%;

    }
    #brand-name{
        font-size: 28px;
        top: 35%;
    }
    #row_fluid{
        left: 5%;
        right: 5%;
    }
}
